body{

}
img{
    height:639px;
    width:480px;
}

.card{
    width:480px;
    perspective:2000px;
    border:2 px solid cornflowerblue;
}

.card-holder{
    width: 480px;
    position:relative;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    position:absolute;
    top:0;
    left:0;
}

.flip{
    transition:2s;
    transform:rotateY(180deg);
    backface-visibility: hidden;
}

.card-front{
    transform:rotateY(180deg);
}

/* #parent{
    height:200px;
    width:200px;
    margin:50px;
    padding:10px;
    background-color: #4f5f6c;
    perspective: 200px
}
#parent div{
    padding: 50px;
    border: 1px solid #0912ee;
}
#threeD{
    background-color: #0be;
    transform: rotateX(45deg);
}
#threeD2{
    background-color: aqua;
    transform: rotateY(45deg);
}
#threeD3{
    background-color: rgb(69, 179, 179);
    transform: rotateZ(45deg); */
}