body{
/* this is for weird stuff I guess */
}
img{
    height:639px;
    width:480px;
}

.card{
    width:480px;
    perspective:2000px;
    border:2 px solid cornflowerblue;
}

.card-holder{
    width: 480px;
    position:relative;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    position:absolute;
    top:0;
    left:0;
}

.flip{
    transition:2s;
    transform:rotateY(180deg);
    backface-visibility: hidden;
}

.card-front{
    transform:rotateY(180deg);
}